<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<p>
  <% if @user.ratings.count != 0%>
    Has made <%= pluralize(@user.ratings.count, "rating")%>, average rating <%= @user.average_rating%>.
  <% else %>
    Has not yet made ratings.
  <% end%>
</p>

<p>
  <% if @user.beer_clubs.any? %>
    member of
    <ul>
      <% @user.beer_clubs.each do |bc| %>
        <li> <%= link_to bc.name, bc %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<h3> ratings </h3>
<ul>
  <% @user.ratings.each do |rating| %>
  <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
